.card__container {
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
}
.card__container:hover .button {
  display: block;
}
.img_container {
  width: 100%;
  object-fit: contain;
  max-height: 160px;
  padding: 0px 2px;
}
.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  max-width: 1450px;
  margin: 100px auto 100px auto;
  gap: 50px;
  justify-content: center;
}

.card__container h3,
.rating {
  padding: 5px;
  margin-left: 15px;
}
.button {
  display: none;
  padding: 5px 10px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  width: 100%;
  margin: 10px 0;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* copy css */
.products_container {
  max-width: 1200px;
}
.product_container section {
  margin: 0 auto;
}

.product__flexed {
  box-shadow: none;
  height: auto;
  display: flex;
  gap: 50px;
  width: 100%;
}
.product__flexed h3 {
  padding: 20px 0px;
}
.product__flexed button {
  display: block;
  position: static;
  width: 250px;
  margin-right: 40px;
}
.product__flexed {
  height: 35vh;
}
.product__flexed img {
  width: 300px !important;
  height: auto;
}
.img__adjusted {
  width: 300px !important;
  max-width: 300px !important; /* Optional: prevent larger images */
  max-height: none !important; /* Remove height restriction */
  height: auto !important;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .product__flexed {
    display: flex;
    flex-direction: column;
  }
}
